@page "/home/registration/parent"
@using Hello_Earth_2.Data.User;
<h3>Profil: Rodzic</h3>
<input placeholder="Wpisz login" type="text" @bind="email" />
<input placeholder="Wpisz hasło" type="password" @bind="password"/>
<input placeholder="Ponów hasło" type="password" @bind="repeatPassword"/>
<button @onclick="SaveQuestHandler">
    Dalej
</button>

@code {
    private string email = "";
    private string password= "";
    private string repeatPassword= "";

    private async void SaveQuestHandler()
    {
        await FirebaseAuthentication.RegisterUser(email, password);
        //await QuestService.AddGameTask(title,questCode);
    }
}
