@page "/home/registration"
<div>
    <NavLink href="home/login">
				<span class="" aria-hidden="true"></span> Zaloguj się
	</NavLink>
	<NavLink href="home/registration">
					<span class="" aria-hidden="true"></span> Załóż konto
	</NavLink>
</div>
<div>
	<p>Wybierz profil</p>
	<NavLink href="home/registration/player">
				<span class="" aria-hidden="true"></span> Profil Gracza
	</NavLink>
	<NavLink href="home/registration/parent">
					<span class="" aria-hidden="true"></span> Profil Rodzica
	</NavLink>
</div>

@code {

}
