@page "/home/login"
<div>
    <NavLink href="home/login">
				<span class="" aria-hidden="true"></span> Zaloguj się
	</NavLink>
	<NavLink href="home/registration">
					<span class="" aria-hidden="true"></span> Załóż konto
	</NavLink>
</div>

@code {

}
